@model UserDescribedViewModel

@{
    ViewData["title"] = "Described";
}

@if(TempData["error-state"] != null) {
	<p class="text-error text-center">@TempData["error-state"]</p>
} else {
    @if(TempData["error"] != null) {
        <p class="text-error text-center message">@TempData["error"]</p>
    }
    <div class="page-container">
	<div class="user-information-container">
		<div>
			<h1 class="page-title">@User.Identity.Name</h1>
            <a class="button" asp-area="" asp-action="Edit" asp-controller="User">Edit</a>
		</div>
		<p class="text-light">Tracks described <b class="text-secondary">@Model.tracksDescribed</b></p>
	</div>

	<div class="user-view-selection-container text-light">
		<a class="user-view-link link" asp-area="" asp-action="Index" asp-controller="User">Profile</a>
        <a class="user-view-link link" asp-area="" asp-action="Bookmarked" asp-controller="User">Bookmarked</a>
		<a class="user-view-link link selected" asp-area="" asp-action="Described" asp-controller="User">
            Described
            <div class="category-group-selection-bar"></div>
        </a>
	</div>

    <div class="user-descriptions-container">
        @if(Model.trackDescriptionItems.Count() == 0){
            <p class="text-light no-data-text">You havent described any tracks yet</p>
        } else{
            @foreach(var descriptionItem in Model.trackDescriptionItems)
            {
                <a asp-action="Index" asp-controller="Track" asp-route-title="@descriptionItem.title" asp-route-artist="@descriptionItem.artist">
                    <div class="track-description-item">
                        @if (descriptionItem.albumCoverImgUrl == null) {
                            <img src="~/image-placeholder.webp" alt="album-cover-img" />
                        } else {
                            <img src="@descriptionItem.albumCoverImgUrl" onerror="this.src='~/image-placeholder.webp'" alt="album-cover-img" />
                        }
                        <div class="track-title-artist-container">
                            <p class="text-light text-wrap">@descriptionItem.title</p>
                            <p class="text-secondary text-wrap">@descriptionItem.categories</p>
                        </div>
                        <p class="emojis">@descriptionItem.emojis</p>
                    </div>
                </a>
            }
        }
    </div>

    <div class="pagination-container">
        @if (Model.trackDescriptionItems.HasPreviousPage) {
            <a asp-action="Described" asp-controller="User" asp-route-PageNumber="@(Model.trackDescriptionItems.PageIndex - 1)">
                <img src="~/arrow-icon-left.webp" alt="arrow-to-left-icon" style="width: 15px; display: block; margin-right: 5px;" />
            </a>
        }
        @if (Model.totalPages != 1) {
            @for (int i = 1; i <= Model.totalPages; i++) {
                <a asp-action="Described" asp-controller="User" asp-route-PageNumber="@i"
                   class="page-number @(i == Model.currentPage ? "" : " disabled")">
                    @i
                </a>
            }
        }
        @if (Model.trackDescriptionItems.HasNextPage) {
            <a asp-action="Described" asp-controller="User" asp-route-PageNumber="@(Model.trackDescriptionItems.PageIndex + 1)">
                <img src="~/arrow-icon-right.webp" alt="arrow-to-right-icon" style="width: 15px; display: block; margin-left: 5px;" />
            </a>
        }
    </div>
    </div>
}
