@model SearchResultsViewModel

@{
    ViewData["title"] = "Results";
}

@if(TempData["error-state"] != null){
    <p class="text-error text-center">@TempData["error-state"]</p>
} else {
@if(TempData["gobackUrl"] != null){
    <a href="@TempData["gobackUrl"]"><img id="go-back-icon" src="~/arrow-icon-left.webp" /></a>
}

<div class="page-container">
    <h1 class="page-title text-center">@Model.searchDescription</h1>
    <p class="text-center text-light">These results are ordered by the similarity to the categories you selected.</p>
    <div id="results-divider"></div>
    @if (Model.searchResults.Count() == 0) {
        <p class="text-light text-center">No results</p>
    } else {
        @for (int i=0; i<Model.searchResults.Count(); i++) {
            <div class="search-result-item">
                <a asp-action="Index" asp-controller="Track" asp-route-title="@Model.searchResults[i].title" asp-route-artist="@Model.searchResults[i].artist" asp-route-gobackUrl="@(Context.Request.Path.ToString() + Context.Request.QueryString)">
                    <div class="search-result-item-inner">
                        <p class="result-number text-center text-light">@((Model.currentPage*10)-(10-(i+1)))</p>
                        @if (Model.searchResults[i].albumCoverImgUrl == null) {
                            <img class="search-result-album-img" src="~/image-placeholder.webp" alt="album-cover-img" />
                        } else {
                            <img class="search-result-album-img" src="@Model.searchResults[i].albumCoverImgUrl" onerror="this.src='~/image-placeholder.webp'" alt="album-cover-img" />
                        }
                        <div id="@i" class="search-result-track-information show">
                            <div class="track-title-artist-container">
                                <p class="text-light text-wrap"><b>@Model.searchResults[i].title</b></p>
                                <p class="text-light text-wrap">@Model.searchResults[i].artist</p>
                            </div>
                            @if(User.Identity.IsAuthenticated){
                                <p class="text-accent text-wrap">@Model.searchResults[i].categories</p>
                            } else {
                                <p class="text-accent text-wrap" style="margin-right: 15px;">@Model.searchResults[i].categories</p>
                            }
                            </div>
                        <div id="@i" class="search-result-track-categories">
                            <p class="text-accent text-wrap">@Model.searchResults[i].categories</p>
                        </div>
                    </div>    
                </a>
                @if (User.Identity.IsAuthenticated) {
                    <img id="@i" class="search-result-flip-icon" src="~/flip-icon.webp" alt="flip-icon" />
                } else {
                    <img id="@i" class="search-result-flip-icon" style="margin-right: 15px;" src="~/flip-icon.webp" alt="flip-icon" />
                }
                @if (User.Identity.IsAuthenticated){
                <form id="bookmark-form" asp-action="Bookmark" asp-controller="Track" method="post" asp-antiforgery="true">
                    @if(Model.bookmarkedTracks.Contains(Model.searchResults[i].trackId)){
                        <input id="bookmark-toggle-input" type="hidden" name="state" value="1" />
                    } else {
                        <input id="bookmark-toggle-input" type="hidden" name="state" value="0" />
                    }
                    <input type="hidden" name="trackId" value="@Model.searchResults[i].trackId" />
                    <input type="hidden" name="returnUrl" value="@(Context.Request.Path.ToString()+Context.Request.QueryString)" />
                    <button id="track-bookmark-button" class="bookmark-button" type="submit">
                        @if (Model.bookmarkedTracks.Contains(Model.searchResults[i].trackId)){
                            <img class="bookmark-icon" src="~/bookmark-icon-selected.webp" alt="bookmark-icon" />
                        } else {
                            <img class="bookmark-icon" src="~/bookmark-icon.webp" alt="bookmark-icon" />
                        }
                    </button>
                </form>
                }
            </div>
        }
    }
</div>

<div class="pagination-container">
    @if (Model.searchResults.HasPreviousPage) {
        <a href="@(Url.Action("Results", "Search", new {
            categories = Context.Request.Query["categories"],
            PageNumber = Model.searchResults.PageIndex - 1
        }))"><img src="~/arrow-icon-left.webp" alt="arrow-to-left-icon" style="width: 15px; display: block; margin-right: 5px;" /></a>
    }
    @if (Model.totalPages != 1) {
        @for (int i = 1; i <= Model.totalPages; i++) {
            <a class="page-number@(i == Model.currentPage ? "" : " disabled")" href="@(Url.Action("Results", "Search", new {
                categories = Context.Request.Query["categories"],
                PageNumber = i
            }))">@i</a>
        }
    }
    @if (Model.searchResults.HasNextPage) {
        <a href="@(Url.Action("Results", "Search", new {
            categories = Context.Request.Query["categories"],
            PageNumber = Model.searchResults.PageIndex + 1
        }))"><img src="~/arrow-icon-right.webp" alt="arrow-to-right-icon" style="width: 15px; display: block; margin-left: 5px;" /></a>
    }
</div>
}

@section Scripts {
    <script src="~/js/bookmark.js"></script>
    <script>
        const flip_icons = document.querySelectorAll(".search-result-flip-icon");
        const track_information_containers = document.querySelectorAll(".search-result-track-information");
        const track_categories_containers = document.querySelectorAll(".search-result-track-categories");

        const handle_flip = (e) => {
            const index = parseInt(e.target.id);
            reset_flipped_elements(index);
            if(track_information_containers[index].classList.contains("show")){
                track_information_containers[index].classList.remove("show");
                track_categories_containers[index].classList.add("show");
            } else {
                track_information_containers[index].classList.add("show");
                track_categories_containers[index].classList.remove("show");
            }
        }

        const reset_flipped_elements = (index) => {
            const track_categories_containers = document.querySelectorAll(".search-result-track-categories.show");
            track_categories_containers.forEach(element => {
                if(element.id != index){
                    element.classList.remove("show");
                    track_information_containers[parseInt(element.id)].classList.add("show");
                }
            });
        }

        flip_icons.forEach(icon => icon.addEventListener("click", (e) => handle_flip(e)));
    </script>
}